body {
  @apply font-sans antialiased text-off-black bg-white selection:bg-black selection:text-white;
}

/* Content Stylings */
.content > p {
  @apply mb-5;

  &:last-of-type {
    @apply mb-0;
  }
}

.content p {
  @apply mb-5;

  &:last-of-type {
    @apply mb-0;
  }
}

.font-semibold {
  font-variant-numeric: tabular-nums lining-nums;
}

.variant-numeric {
  font-variant-numeric: tabular-nums lining-nums;
}

.content > p a {
  @apply underline;

  &:hover, &:focus {
    @apply underline;
  }
}

.content p a {
  @apply underline;

  &:hover, &:focus {
    @apply underline;
  }
}

.letter-roll {
  & .child {
    @apply transition-all ease-in-out duration-300;
  }

  & .child:nth-of-type(2n) {
    @apply transition-all ease-in-out duration-700;
  }
}

.home-image {
  transition: all 1200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

/*
.letter-roll--0 {
  & span:nth-of-type(2n) {
  }
}

.letter-roll--1 {
  & span:nth-of-type(2n) {
    @apply md:translate-y-[-230px];
  }
}

.letter-roll--2 {
  & span:nth-of-type(2n) {
    @apply md:translate-y-[-460px];
  }
}

.letter-roll--3 {
  & span:nth-of-type(2n) {
    @apply md:translate-y-[-690px];
  }
}

.letter-roll--4 {
  & span:nth-of-type(2n) {
    @apply md:translate-y-[-920px];
  }
} */

.logo {
  @apply hover:text-pink focus:text-pink;
}

.bg-pink.logo {
  @apply hover:text-black focus:text-black !important;
}

/* Heading Defaults */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, h6 {
  @apply p-0 mb-6 font-semibold uppercase;
}

/* Content Headings */
.content > h1,
.content > .h1 {
  @apply text-4xl;
}
  
.content > h2,
.content > .h2 {
  @apply text-3xl;
}

.text-upright {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  @apply rotate-180;
}

.text-outline {
  @apply text-black;
}

@variants {
  .text-outline--active {
    @apply text-transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #1F1F1F;
  }
}

.will-change {
  will-change: transform;
}

html.has-scroll-smooth {
  overflow: hidden; }

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.has-scroll-smooth body {
  overflow: hidden; }

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh; }

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap; }

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%; }

.text-cols {
  columns: 2 auto;
  column-gap: 25px;
}

@screen md {
  .text-cols {
    column-gap: 50px;
  }
}

.ar {
  @apply relative overflow-hidden;
  
  &.has-fill {
    @apply absolute inset-0;
  }

  img {
    @apply block absolute top-1/2 left-1/2 z-10 opacity-0 transition-opacity ease-in-out duration-500;
    width: calc(100% + 1px); /* helps with half pixel renderings */
    height: calc(100% + 1px); /* helps with half pixel renderings */
    transform: translate3d(-50%,-50%,0);
    /* will-change: transform, opacity; */

    &.is-loaded {
      @apply opacity-100;
    }
  }
}

.fp-viewing-slider-slide-final .slider-buttons--next-inner {
  @apply pointer-events-none translate-y-full !important;
}

.fp-viewing-slider-slide0 .slider-buttons--prev,
.fp-viewing-slider-slide-final .slider-buttons--next {
  @apply pointer-events-none !important;
}

.fp-viewing-slider-slide0 .slider-buttons--prev-inner {
  @apply pointer-events-none translate-y-full !important;
}