body {
  @apply font-sans antialiased text-off-black bg-white;
}

/* Content Stylings */
.content > p {
  @apply mb-5;

  &:last-of-type {
    @apply mb-0;
  }
}

.content > p a {
  @apply underline;

  &:hover, &:focus {
    @apply underline;
  }
}

/* Heading Defaults */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, h6 {
  @apply p-0 mb-6 font-semibold uppercase;
}

/* Content Headings */
.content > h1,
.content > .h1 {
  @apply text-4xl;
}
  
.content > h2,
.content > .h2 {
  @apply text-3xl;
}

.text-upright {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  @apply rotate-180;
}

.text-outline {
  @apply text-black;
}

@variants {
  .text-outline--active {
    @apply text-transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #1F1F1F;
  }
}
